TOKEN=  // YOUR BOT TOKEN
PREFIX= // THE PREFIX OF THE BOT
VERIFY_CHANNEL= // THE TEXT CHANNEL WHERE THE VERIFY MESSAGE WILL BE SENT
VERIFY_MESSAGE= // THE MESSAGE YOU WILL SEND TO THE VERIFY_CHANNEL THAT WILL BE REPLACED BY THE BOT VERIFY MESSAGE
// basically the bot will make a category where it has two text channel where you confess and your confession will be anonymous
CONFESSION_CHANNEL= // where does the users type their confession (channel name)
CONFESSIONS_CHANNEL= // where does the confessions will be sent (channel name)
