bot:
  name: "DevBot"
  token: "<your-discord-bot-token>"
  category:
    create-confessions-category: "confessions"
    member-updates-category: "member-updates"
    welcome-category: "information"
  channel:
    confessions:
      enter-confession-channel:
        name: "enter-confession-here"
      sent-confessions-channel:
        name: "confessions"
    member-updates-channel:
      name: "member-updates"
  commands:
    confessions:
      confess-command: "$confessions"
    member-updates:
      member-updates-command: "$member-updates"
    prefix: ";"
    rules: "$rules"
  moderation:
    message-deletion-delay-in-seconds: "10"
    reply-deletion-delay-in-minutes: "1"
  version: "1.0.0"